html, body {
    height: 100%;
}

.wrapper {
    display: table;
    height: 100%;
}

.content {
    display: table-row;
    height: 100%;
}

.footer__copyright {
    padding: 15px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

h1 {
    margin: 40px 0;
}

.form-container {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}

/*additional classes*/

.p-t-50 {
    padding-top: 50px;
}