
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  font-size: 10px;
}

blockquote {
  margin: 20px 40px;
  padding: 0;
  border: 0;
  font-size: 3rem;
  :before {
    content: "\201C";
    display: block;
    height: 0;
    position: relative;
    left: -38px;
    font-size: 6.5rem;

  }
}
