
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  font-size: 10px;
}

body {
  background-color: #333;
}

blockquote {
  margin: 20px 40px;
  padding: 0;
  border: 0;
  font-size: 2rem;
  color: #fff;
  :before {
    content: "\201C";
    display: block;
    height: 0;
    position: relative;
    left: -38px;
    font-size: 6.5rem;

  }
}

%containerStyle {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}

.jumbotron {
  background-color: #fff;
}

.order-form,
.add-product-form {
  @extend %containerStyle;
}

.main-title {
  color: #fff;
  margin-bottom: 50px;
}

.product {
  margin-bottom: 50px;
  &__content {
    @extend %containerStyle;
  }
  &__img {
    max-width: 197px;
    margin: 0 auto;
  }
}
